/* police pour les textes */

@font-face
{
	font-family: 'textefont';
	src: url('font/uni-sans.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'soustitrefont';
	src: url('font/uni-sans-bold-italic.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'navfont';
	src: url('font/uni-sans-heavy.ttf') format('truetype');
	src: url('font/uni-sans-heavy.otf') format('opentype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'titreprésentation';
	src: url('font/deartype-beachbarscript-semibold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'namefont';
	src: url('font/uni-sans-heavy-italic.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}






/* Background */






html
{
	background: url('image/background.png');
	background-repeat: repeat;
}

/*Bloc principale */

body
{
	width: auto;
	margin: auto;
}






/* header */






#ban
{
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
	color: #FFBA39;
	height: 76px;
}

.titresite
{
	margin-left: 15px;
}

#logosite
{
	margin-top: 7px;
	width: auto;
	height: 63px;
}

.logosite
{
	display: flex;
	margin-left: 120px;
}

#ban h1
{
	font-family: 'namefont', arial, serif; 
	font-size: 30px;
	letter-spacing: 1.5px;
	color: #FFFFFF;
	position: relative;
	bottom: 7px;
	z-index: 1;
}

#ban h2
{
	font-family: 'soustitrefont', arial, serif;
	font-size: 14px;
	letter-spacing: 1px;
}

#ban h1, #ban h2
{
	font-weight: 400;
}

.alignh2
{
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 41px;
}

.bordureh2l
{
	border-bottom: 1px solid #FFBA39;
	width: 42px;
	position: relative;
	bottom: 20px;
	margin-right: 10px;
}

.bordureh2r
{
	border-bottom: 1px solid #FFBA39;
	width: 42px;
	position: relative;
	bottom: 20px;
	margin-left: 10px;
}






/* navigation */






nav
{
	font-family: 'navfont', arial, serif;
	font-size: 22px;
	margin-right: 120px;
}

nav a
{
	padding-top: 100%;
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 25px;
	text-decoration: none;
	color: #FFFFFF;
}

nav a:hover
{
	background-color: #FFBA39;
	color: #FFFFFF;
}

nav ul
{
	display: flex;
	list-style-type: none;
	letter-spacing: 1.5px;
	position: relative;
	top: 3px;
	z-index: 1;
}






/* Cadre de fond */






#home
{
	background-color: #FFBA39;
	height: 100%;
}







/* Partie de la présentation */






.photoprofil
{
	width: auto;
	height: 241px;
	position: relative;
	bottom: 5px;
}

#headhome
{
	display: flex;
	justify-content: center;
	height: 236px;
}

#headhome h1
{
	font-family: 'titreprésentation', arial, serif;
	letter-spacing: 1px;
	font-size: 38px;
	text-align: center;
	position: relative;
	bottom: 20px;
}

.bordureflex
{
	display: flex;
	justify-content: center;
}

.bordureh1lqui
{
	position: relative;
	bottom: 88px;
	border-bottom: 2px solid;
	width: 67px;
	margin-right: 23px;
}

.bordureh1rqui
{
	position: relative;
	bottom: 88px;
	border-bottom: 2px solid;
	width: 67px;
	margin-left: 23px;
}

.bordureh1lquoi
{
	position: relative;
	bottom: 88px;
	border-bottom: 2px solid;
	width: 53px;
	margin-right: 14px;
}

.bordureh1rquoi
{
	position: relative;
	bottom: 88px;
	border-bottom: 2px solid;
	width: 53px;
	margin-left: 14px;
}

#headhome p
{
	font-family: 'textefont', arial, serif;
	font-size: 18px;
	text-align: justify;
	overflow: hidden;
	max-height: 140px;
	max-width: 355px;
	margin-right: 55px;
	margin-left: 55px;
	position: relative;
	bottom: 70px;
}





/* contenu de la page */






#contenu
{
	font-family: 'textefont', arial, serif;
	word-wrap: break-word;
	text-align: justify;
	background-color: #FFFFFF;
	padding: 20px 60px 60px 40px;
	margin-bottom: 80px;
}