/* police pour les textes */

@font-face
{
	font-family: 'textefont';
	src: url('fonts/uni-sans.eot');
	src: url('fonts/uni-sans.eot?#iefix') format('embedded-opentype'),
		 url('fonts/uni-sans.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'soustitrefont';
	src: url('fonts/uni-sans-bold-italic.eot');
	src: url('fonts/uni-sans-bold-italic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/uni-sans-bold-italic.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'navfont';
	src: url('fonts/uni-sans-heavy.eot');
	src: url('fonts/uni-sans-heavy.eot?#iefix') format('embedded-opentype'),
		 url('fonts/uni-sans-heavy.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'titreprésentation';
	src: url('fonts/deartype-beachbarscript-semibold.eot');
	src: url('fonts/deartype-beachbarscript-semibold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/deartype-beachbarscript-semibold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'namefont';
	src: url('fonts/uni-sans-heavy-italic.eot');
	src: url('fonts/uni-sans-heavy-italic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/uni-sans-heavy-italic.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}






/* Background */






html
{
	background: url('image/background.png');
	background-repeat: repeat;
}

/*Bloc principale */

body
{
	width: auto;
	margin: auto;
	height: auto;
}

a
{
	text-decoration: none;
}





/* header */






.ban
{
	
	color: #FFBA39;
	height: 70px;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	min-width: 350px;
	margin: auto;
}

header .titresite
{
	margin-left: 15px;
}

.logoheader
{
	width: auto;
	height: 63px;
	margin-top: 3px;
}

header .logosite
{
	height: auto;
	align-items: center;
}

div[class*="titresite"] h1
{
	font-family: 'namefont', arial, serif;
	text-transform: uppercase; 
	color: #FFFFFF;
	letter-spacing: 1.5px;
	font-weight: 400;
	line-height: 0px;
	position: relative;
	top: 3px;
}

div[class*="titresite"] h2
{
	font-family: 'soustitrefont', arial, serif;
	text-transform: uppercase; 
	font-weight: 400;
	line-height: 0px;
	color: #FFBA39;
}

.ban h1
{
	font-size: 30px;
}

.ban h2
{
	
	font-size: 14px;
	letter-spacing: 1px;
}

.alignh2
{
	position: relative;
	bottom: 3px;
}

div[class*="alignh2"]
{
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	justify-content: space-between;
}

.bordureh2l
{
	border-bottom: 1px solid #FFBA39;
	width: 42px;
}

.bordureh2r
{
	border-bottom: 1px solid #FFBA39;
	width: 42px;
}







/* Cadre de fond */






.home
{
	background-color: #FFBA39;
	height: 100%;
}

.home .copyright
{
	font-family: 'textefont';
	color: #FFFFFF;
	text-align: center;
	font-weight: 500;
}






/* Partie de la présentation */






.photoprofil
{
	width: auto;
	height: 153px;
	align-self: flex-end;
}

.headhome
{
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	height: 155px;
}

.headhome2
{
	height: 4px;
}

.headhome h1
{
	font-family: 'titreprésentation', arial, serif;
	letter-spacing: 1px;
	font-size: 30px;
	margin-top: 35px;
	line-height: 0px;
}

.bordureflex
{
	display: -webkit-box;
	display: flex;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	padding-right: 30px;
	padding-left: 30px;
	position: relative;
	top: -7px;
}

.bordureh1lqui
{
	border-bottom: 2px solid;
	width: 80px;
}

.bordureh1rqui
{
	border-bottom: 2px solid;
	width: 80px;
}

.bordureh1lquoi
{
	border-bottom: 2px solid;
	width: 70px;
}

.bordureh1rquoi
{
	border-bottom: 2px solid;
	width: 70px;
}

.headhome p
{
	font-family: 'textefont', arial, serif;
	font-size: 15px;
	text-align: justify;
	overflow: hidden;
	width: 360px;
	margin-right: 30px;
	margin-left: 30px;
	line-height: 20px;
	word-spacing: 1.5px;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	margin-top : -20px;
}






/* contenu des pages */




.boutonhometop
{
	margin: auto;
	width: 1000px;
	text-align: left;
}

.boutonhomebot
{
	margin: auto;
	width: 1000px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: -10px;
}

.boutonhometop, .boutonhomebot
{
	font-family: 'navfont', arial, serif;
	letter-spacing: 1px;
	text-shadow: 1px 2px 0px #c78e3f;
}

.boutonhometop a, .boutonhomebot a
{
	text-transform: uppercase;
	border: 1px solid #FFBA39;
	box-shadow: 0px 3px 0px #c78e3f;
	border-radius: 18px/20px;
	color: #FFFFFF;
	background-color: #FFBA39;
	padding: 8px 10px 5px 10px;
}

.boutonhometop a:hover, .boutonhomebot a:hover
{
	opacity: 0.85;
}


.bannierebook
{
	width: 980px;
	border: 1px solid grey;
	padding: 10px;
	border-radius: 20px/20px;
	box-shadow: 0px 1px 3px grey;
}

.contenu
{
	background-color: #FFFFFF;
	padding: 20px 60px 60px 40px;
	font-family: 'textefont', arial, serif;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	text-align: justify;
	word-wrap: break-word;
}

.contenu h1
{
	font-family: 'titreprésentation', arial, serif;
	font-size: 25pt;
	text-decoration: underline;
	text-align: left;
	margin-left: 100px;
	margin-top: 13px;
	margin-bottom: -15px;
}

.contenu span
{
	font-weight: bold;
}

.contenu p
{
	width: 1000px;
	margin-top: 7px;
	margin-bottom: 10px;
	text-indent:2em;
}

.bouton
{
	font-family: 'navfont', arial, serif;
	letter-spacing: 1px;
	text-shadow: 1px 2px 0px #c78e3f;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 35px;
}

.bouton a
{
	text-transform: uppercase;
	border: 1px solid #FFBA39;
	box-shadow: 0px 3px 0px #c78e3f;
	border-radius: 18px/20px;
	color: #FFFFFF;
	background-color: #FFBA39;
	padding: 8px 10px 5px 10px;
}

.bouton a:hover
{
	opacity: 0.8;
}

.petitcontenu
{
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

article img:hover
{
	opacity: 0.8;
}

.petitcontenu p
{
	width: 490px;
}

/* Book Ikuinen */



.imgikuinenalimentation
{
	display: block;
	margin: auto;
}

.imggroupebook
{
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: space-between;
	align-content: space-between;
}




/* Book Reach */


.misenpage
{
	margin: auto;
	width: 1000px;
	display: flex;
	justify-content: space-around;
	flex-direction: flex;
	flex-wrap: wrap;
}

.misenpage p
{
	width: 400px;
}






/* footer */



.footerlogosite
{
	text-align: center;
	margin-top: 15px;
}

.footerlogosite h1
{
	font-weight: 400;
	line-height: 0px;
}

footer .titresite
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer h2
{
	font-family: 'soustitrefont';
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 0px;
	padding-right: 18px;
	padding-left: 18px;
}

footer h3
{
	font-family: 'soustitrefont', arial, serif;
	color: #FFFFFF; 
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 23px;
	margin-bottom : -5px;
	margin-top: 8px;
}

footer p
{
	font-family: 'textefont';
	color: #9B9B9B;
	font-weight: 500;
}

.blockfooter
{
	width: 1000px;
	margin: auto;
}

.bl
{
	width: 490px;
	float: left;
}

.inputcontact
{
	text-align: center;
}

input[type=email]
{
	font-family: 'textefont', arial, serif;
	font-size: 15px;
	color: #FFFFFF;
	border: 2px solid #454646;
	background: #373737;
	padding: .7em .6em;
	width: 312px;
	display: inline-block;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3) inset;
	outline: none;
}

input[type=email]:focus
{
	border: 2px solid #FFBA39;
	color: #FFFFFF;
}

textarea[name=message]
{
	height: 100px;
	max-width:490px;
	font-family: 'textefont', arial, serif;
	font-size: 15px;
	color: #FFFFFF;
	border: 2px solid #454646;
	background: #373737;
	padding: .7em .6em;
	outline: none;
	width: 312px;
	display: inline-block;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3) inset;
}

textarea[name=message]:focus
{
	border: 2px solid #FFBA39;
	color: #FFFFFF;
}

input[type=submit]
{
	font-family: 'navfont', arial, serif;
	font-size: 15px;
	letter-spacing: 1px;
	text-shadow: 1px 2px 0px #c78e3f;
	text-align: center;
	margin-top: -6px;
	margin-bottom: 35px;
	
	text-transform: uppercase;
	border: 1px solid #FFBA39;
	box-shadow: 0px 3px 0px #c78e3f;
	border-radius: 18px/20px;
	color: #FFFFFF;
	background-color: #FFBA39;
	padding: 8px 10px 5px 10px;	
	outline: none;	
}

input[type=submit]:hover
{
	opacity: 0.8;
}


/* slidebare */


/* liste images*/

.diapo{
display: inline-block;
width:1000px;
margin:auto;
list-style: none;}

.diapo li {
margin: 10px;
width:auto;
float:left;
margin-top:20px}


.diapo li > a img{
display:inline-block;
height:auto;
width:220px;
border:3px solid white;
box-shadow:0 0 5px hsla(0,0%,0%,.4)}

.diapo li > a{color:#fff;display:block;position:relative}

.diapo li > a .clic{
position:absolute;
width:220px;
height:98%;
top:0;
left:50%;
-ms-transform:translatex(-50%);
-webkit-transform:translatex(-50%);
transform:translatex(-50%);
text-align:center;
font-size:14px;
opacity:0;
background:rgba(0,0,0,.6);
transition:opacity .3s linear}

.diapo li > a:hover .clic{opacity:.8}

.diapo li > a .clic:before{
position:relative;
top:50%;
content:'Cliquez pour agrandir'}


/*lightbox*/


/*boutons suivant et precedent lightbox*/
.prece,
.suiva{
display:none;
text-decoration:none;
opacity:.6;
z-index:2;
font-size:54px;
position:absolute;
color:#fff;
top:45%}

.suiva{right:10%}
.prece{left:10%}

.suiva:before{content:"\e068";font-family:"bric-a-brac"}

.prece:before{content:"\e05a";font-family:"bric-a-brac"}

.prece:hover,.suiva:hover{transition:.8s;opacity:1}

/*fermeture lightbox */
.ferm{display:none;
text-decoration:none;
color:#fff;
position:absolute;
top:0;
right:0;
font-size:42px;
padding:20px}
.ferm:before{content:"\e085";font-family:"bric-a-brac"}
/*fin fermeture lightbox */

/*design image et effet lightbox */	
.trans-image{width:0;height:0;position:fixed;overflow:hidden;left:0;top:0;min-height:100%;z-index:1;background:hsla(0,0%,0%,.8)}
.trans-image img{width:1000px; display:none;top:10%;position:absolute;left:437px;border:5px solid #fff}
.trans-image:target{width:100%;height:100%}
.trans-image:target > .prece,
.trans-image:target > .suiva,
.trans-image:target > img,
.trans-image:target > .ferm{
display:block;
animation:effet .4s ease-in-out .4s backwards;
-webkit-animation:effet .4s ease-in-out .4s backwards}

.trans-image:target > .prece,
.trans-image:target > .suiva{animation-delay:.6s;-webkit-animation-delay:.6s}


/*animations*/

@keyframes effet{
0%{transform:scale(0)}
50%{transform:scale(1.2)}
100%{transform:scale(1)}}
	
	
@-webkit-keyframes effet{
0%{opacity:0;-webkit-transform:scale(0)}
80%{-webkit-transform:scale(1.2)}
100%{opacity:1;-webkit-transform:scale(1))}
}	
	
	
@keyframes effet1{100%{bottom:0}}

@-webkit-keyframes effet1{100%{bottom:0}}

/*fin animations*/
