/* police pour les textes */

@font-face
{
	font-family: 'textefont';
	src: url('font/uni-sans.eot');
	src: url('font/uni-sans.eot?#iefix') format('embedded-opentype'),
		 url('font/uni-sans.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'soustitrefont';
	src: url('font/uni-sans-bold-italic.eot');
	src: url('font/uni-sans-bold-italic.eot?#iefix') format('embedded-opentype'),
		 url('font/uni-sans-bold-italic.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'navfont';
	src: url('font/uni-sans-heavy.eot');
	src: url('font/uni-sans-heavy.eot?#iefix') format('embedded-opentype'),
		 url('font/uni-sans-heavy.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'titreprésentation';
	src: url('font/deartype-beachbarscript-semibold.eot');
	src: url('font/deartype-beachbarscript-semibold.eot?#iefix') format('embedded-opentype'),
		 url('font/deartype-beachbarscript-semibold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'namefont';
	src: url('font/uni-sans-heavy-italic.eot');
	src: url('font/uni-sans-heavy-italic.eot?#iefix') format('embedded-opentype'),
		 url('font/uni-sans-heavy-italic.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}






/* Background */






html
{
	background: url('image/background.png');
	background-repeat: repeat;
}

/*Bloc principale */

body
{
	width: auto;
	margin: auto;
	height: auto;
}






/* header */






.ban
{
	
	color: #FFBA39;
	height: 76px;
	display: flex;
	justify-content: center;
	min-width: 350px;
	margin: auto;
}

header .titresite
{
	margin-left: 15px;
}

.logoheader
{
	width: auto;
	height: 63px;
}

header .logosite
{
	height: auto;
	display: flex;
	align-items: center;
}

div[class*="titresite"] h1
{
	font-family: 'namefont', arial, serif;
	text-transform: uppercase; 
	color: #FFFFFF;
	letter-spacing: 1.5px;
	font-weight: 400;
	line-height: 0px;
	position: relative;
	top: 3px;
}

div[class*="titresite"] h2
{
	font-family: 'soustitrefont', arial, serif;
	text-transform: uppercase; 
	font-weight: 400;
	line-height: 0px;
	color: #FFBA39;
}

.ban h1
{
	font-size: 30px;
}

.ban h2
{
	
	font-size: 14px;
	letter-spacing: 1px;
}

.alignh2
{
	position: relative;
	bottom: 3px;
}

div[class*="alignh2"]
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bordureh2l
{
	border-bottom: 1px solid #FFBA39;
	width: 42px;
}

.bordureh2r
{
	border-bottom: 1px solid #FFBA39;
	width: 42px;
}







/* Cadre de fond */






.home
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #FFBA39;
	height: 100%;
	min-width: 1311px;
}

.home .copyright
{
	font-family: 'textefont';
	color: #FFFFFF;
	text-align: center;
	font-weight: 500;
}






/* Partie de la présentation */






.photoprofil
{
	width: auto;
	height: 241px;
	align-self: flex-end;
}

.headhome
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 236px;
}

.headhome article
{
	line-height: 0px;
}

.headhome2
{
	height: 20px;
}

.headhome h1
{
	font-family: 'titreprésentation', arial, serif;
	letter-spacing: 1px;
	font-size: 35px;
	word-wrap: break-word;
}

.bordureflex
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 55px;
	padding-left: 55px;
}

.bordureh1lqui
{
	border-bottom: 2px solid;
	width: 67px;
}

.bordureh1rqui
{
	border-bottom: 2px solid;
	width: 67px;
}

.bordureh1lquoi
{
	border-bottom: 2px solid;
	width: 53px;
}

.bordureh1rquoi
{
	border-bottom: 2px solid;
	width: 53px;
}

.headhome p
{
	font-family: 'textefont', arial, serif;
	font-size: 17.4px;
	text-align: justify;
	overflow: hidden;
	width: 358px;
	margin-right: 55px;
	margin-left: 55px;
	line-height: 20px;
	word-spacing: 3px;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}





/* contenu de la page HOME */






.contenu
{
	font-family: 'textefont', arial, serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	word-wrap: break-word;
	background-color: #FFFFFF;
	padding: 20px 60px 60px 40px;
}

.contenu span
{
	font-weight: bold;
}

.contenu p
{
	width: 1000px;
}

.bouton
{
	font-family: 'navfont', arial, serif;
	letter-spacing: 1px;
	text-shadow: 0.3px 0.6px 0.4px black;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 60px;
}

.bouton a
{
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #FFBA39;
	box-shadow: 0px 1px 1px black;
	border-radius: 18px/20px;
	color: #FFFFFF;
	background-color: #FFBA39;
	padding: 8px 10px 5px 10px;
}

.petitcontenu
{
	width: 1140px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.petitcontenu p
{
	width: 555px;
}





/* Book Ikuinen */





.imggroupebook
{
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: space-between;
	align-content: space-between;
}








/* footer */



.footerlogosite
{
	text-align: center;
	margin-top: 15px;
	min-width: 1311px;
}

.footerlogosite h1
{
	font-weight: 400;
	line-height: 0px;
}

footer .titresite
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer h2
{
	font-family: 'soustitrefont';
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 0px;
	padding-right: 18px;
	padding-left: 18px;
}

footer p
{
	font-family: 'textefont';
	color: #9B9B9B;
	font-weight: 500;
}